#main-div {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

#headings {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px 0;
  font-weight: bold;
}

#headings p {
  flex: 1;
  text-align: center;
}

.employee-item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.employee-item form {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

input[type="text"],
input[type="email"],
button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
}

input[type="text"],
input[type="email"] {
  flex: 1;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3;
} */

a {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  /* font-weight: bold; */
}

/* a:hover {
  text-decoration: underline;
} */
